{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
            <nav class="navegacao-aside">
                <a href="{% url 'index' %}">
                    <img class="icon" src="{% static 'assets/icones/dashboard_branco.png' %}" alt="dashboard">
                    Dashboard
                </a>
                <a class="link-ativo" href="{% url 'ativos' %}">
                    <img class="icon" src="{% static 'assets/icones/patrimonio_branco.png' %}" alt="patrimonio">
                    Ativos
                </a>
                <a href="{% url 'novo-ativo' %}">
                    <img class="icon" src="{% static 'assets/icones/adicionar_branco.png' %}" alt="novo patrimonio">
                    Novo Ativo
                </a>
                <a href="{% url 'investimentos' %}">
                    <img class="icon" src="{% static 'assets/icones/imovel_branco.png' %}" alt="patrimonio">
                    Investimentos
                </a>
                <a href="{% url 'novo-investimento' %}">
                    <img class="icon" src="{% static 'assets/icones/adicionar_branco.png' %}" alt="novo patrimonio">
                    Novo Investimento
                </a>
            </nav>
        </aside>
        <main class="aparecer-baixo">
            <div class="main-topo">
                <div>
                    <p class="titulo-grande">Patrimônio</p>
                    <p class="subtitulo-medio">
                        {% if patrimonio %}
                        {{patrimonio|length}} item em patrimônio encontrado
                        {% else %}
                        Nenhum ativo encontrado
                        {% endif %}
                    </p>
                </div>
                
                <button class="botao-azul">
                    <img src="{% static 'assets/icones/adicionar_branco.png' %}" alt="Novo patrimônio">
                    Novo ativo
                </button>
            </div>
            <div class="main-pesquisa-patrimonio">
                <div class="main-pesquisa">
                    <img src="{% static 'assets/icones/lupa_branca.png' %}" alt="">
                    <input class="main-pesquisa-patrimonio-input" placeholder="Digite o código ou descrição do patrimônio" type="text">
                </div>
                <select class="main-pesquisa-patrimonio-select-categoria" name="" id="">
                    <option value="TODAS AS CATEGORIAS">Todas as categorias</option>
                    <option value="MAQUINAS E IMPLEMENTOS">Maquinas e implementos</option>
                    <option value="INFORMATICA E COMUNICACAO">Informática e comunicação</option>
                    <option value="VEICULOS">Veículos</option>
                    <option value="EQUIPAMENTOS DIVERSOS">Equipamentos diversos</option>
                    <option value="IMOVEIS">Imóveis</option>
                    <option value="MOVEIS E UTENSILIOS">Móveis e utensílios</option>
                </select>
                <select class="main-pesquisa-patrimonio-select-status" name="" id="">
                    <option value="GERAL">Geral</option>
                    <option value="ATIVO">Ativo</option>
                    <option value="INATIVO">Inativo</option>
                </select>
            </div>
            <div class="main-principal-patrimonio">
                {% if patrimonio %}
                
                <div class='opcao-cards ativo'>
                    {% for ativo in patrimonio %}
                        <a href="{% url 'descricao-ativo' %}" class="main-principal-patrimonio-card">
                            <div style='display: flex; justify-content:center; margin-bottom: 10px;'>
                                {% if ativo.adesivado %}
                                <p class="subtitulo-pequeno">
                                    Adesivado
                                </p>
                                {% else %}
                                <p class="subtitulo-pequeno">
                                    Não adesivado
                                </p>
                                {% endif %}
                            </div>
                            {% if ativo.foto %}
                            <img class="main-principal-patrimonio-card-foto" src='{{ ativo.foto.url}}' alt="foto {{ativo.descricao}}">
                            {% else %}
                            <div class="sem-foto">
                                {{ativo.codigo|upper}}
                            </div>
                            {% endif %}
                            <div class="main-principal-patrimonio-card-descricao">
                                <div class="main-principal-patrimonio-card-descricao-titulo">
                                    <div>
                                        <p class="titulo-pequeno card-titulo">{{ativo.descricao|upper}}</p>
                                        <p class="subtitulo-medio">{{ ativo.codigo|upper}}</p>
                                    </div>
                                    <div class="botao-categoria">
                                        {{ativo.categoria}}
                                    </div>
                                </div>
                                <div class="main-principal-patrimonio-card-descricao-meio">
                                    <div>
                                        <img src="{% static 'assets/icones/localizacao_branco.png' %}" alt="localização">
                                        <p class="subtitulo-medio">{{ativo.localizacao|title}}</p>
                                    </div>
                                    <div>
                                        <p class="subtitulo-medio">
                                            {% if ativo.incorporacao %}
                                                {{ativo.incorporacao|date:"d/m/Y"}}
                                            {% else %}
                                                Não informado
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="card-valores">
                                    <p class="titulo-azul">
                                        {% if ativo.valor %}
                                            R$ {{ ativo.valor|intcomma }}
                                        {% else %}
                                            Não informado
                                        {% endif %}
                                    </p>
                                    {% if ativo.ativo %}
                                    <div class="patrimonio-ativo">
                                        Ativo
                                    </div>
                                    {% else %}
                                    <div class="patrimonio-inativo">
                                        Inativo
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% else %}
                        <p class='subtitulo-medio' style='margin-top:50px;'>NÃO EXISTEM PATRIMÔNIOS CADASTRADOS</p>
                    {% endif %}
                </div>
                    
            </div>
        </main>
    </div>
    
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/geral.js' %}"></script>
{% endblock content %}