{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>PatriControl</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" href="{% static 'assets/auxiliar/logo patricontrol.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <button id="botao-menu" onclick="abrirMenu(this)">
            <img src="{% static 'assets/icones/menu-branco.png' %}" alt="">
        </button>
    </header>
    <div style="display: flex; min-width: 500px;">
        <div class="overlay" onclick="abrirMenu(this)">
            
        </div>
        <aside id="aside">
            <a href={% url "index" %}>
                <img class="logo-empresa" src="{% static 'assets/logos empresas/LOGO '%}{{usuario.empresa}}.png" alt="">
            </a>
            <a href="{% url 'usuario'%}" class="conta-aside">  
                <div class="conta-aside-conteudo">
                    {% if usuario.foto %}
                        <img class="imagem-conta" src="{{usuario.foto.url}}" alt="">
                    {% else %}
                        <img class="imagem-conta" src="{% static 'assets/auxiliar/usuario-notfound.jpg' %}" alt="foto usuário">
                    {% endif %}
                    <div>
                        <p class="titulo-pequeno">{{nome}}</p>
                        <p class="subtitulo-pequeno">{{usuario.empresa|title}}</p>
                    </div>
                </div>
            </a>
{% block content %}{% endblock content %}
</body>
</html>