{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
            <nav class="navegacao-aside">
                <a href="{% url 'index' %}">
                    <img class="icon" src="{% static 'assets/icones/dashboard_branco.png' %}" alt="dashboard">
                    Dashboard
                </a>
                <a href="{% url 'ativos' %}">
                    <img class="icon" src="{% static 'assets/icones/patrimonio_branco.png' %}" alt="patrimonio">
                    Ativos
                </a>
                <a href="{% url 'novo-ativo' %}">
                    <img class="icon" src="{% static 'assets/icones/adicionar_branco.png' %}" alt="novo patrimonio">
                    Novo Ativo
                </a>
                <a href="{% url 'investimentos' %}" class="link-ativo">
                    <img class="icon" src="{% static 'assets/icones/imovel_branco.png' %}" alt="patrimonio">
                    Investimentos
                </a>
                <a href="{% url 'novo-investimento' %}">
                    <img class="icon" src="{% static 'assets/icones/adicionar_branco.png' %}" alt="novo patrimonio">
                    Novo Investimento
                </a>
            </nav>
        </aside>
        <main class="aparecer-baixo">
            <div class="main-topo">
                <div>
                    <p class="titulo-grande">Investimentos</p>
                    <p class="subtitulo-medio">100 Investimentos encontrados</p>
                </div>
                
                <button class="botao-azul">
                    <img src="{% static 'assets/icones/adicionar_branco.png' %}" alt="Novo patrimônio">
                    Novo investimento
                </button>
            </div>
            <div class="main-pesquisa-patrimonio">
                <div class="main-pesquisa">
                    <img src="{% static 'assets/icones/lupa_branca.png' %}" alt="">
                    <input class="main-pesquisa-patrimonio-input" placeholder="Digite o código ou descrição do patrimônio" type="text">
                </div>
                <select class="main-pesquisa-patrimonio-select-status" name="" id="">
                    <option value="GERAL">Geral</option>
                    <option value="ATIVO">Ativo</option>
                    <option value="INATIVO">Inativo</option>
                </select>
            </div>
            <div class="main-principal-patrimonio">
                {% if investimentos %}
                    <button class="botao-trocar-planilha" onclick="alterarVisualizacao()">///</button>
                    <div class='opcao-tabela'>    
                        <table class="tabela-ativos">
                            <thead>
                                <tr>
                                    <th>LOCALIZAÇÃO</th>
                                    <th>CÓDIGO</th>
                                    <th>DESCRIÇÃO</th>
                                    <th>DATA DE CRIAÇÃO</th>
                                    <th>VALOR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for investimento in investimentos %}
                                    <tr style="cursor: pointer;">
                                        <td>{{ investimento.localizacao|upper }}</td>
                                        <td>{{ investimento.codigo|upper }}</td>
                                        <td>{{ investimento.descricao|upper }}</td>
                                        <td>{{ investimento.data|upper }}</td>
                                        <td>R$ {{ investimento.valor|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class='opcao-cards ativo'>
                        {% for investimento in investimentos %}
                            <a class="main-principal-patrimonio-card">
                                <div class="sem-foto">
                                    {{investimento.codigo|upper}}
                                </div>
                                <div class="main-principal-patrimonio-card-descricao">
                                    <div class="main-principal-patrimonio-card-descricao-meio">
                                        <div>
                                            <img src="{% static 'assets/icones/localizacao_branco.png' %}" alt="localização">
                                            <p class="subtitulo-medio">{{investimento.localizacao|title}}</p>
                                        </div>
                                        <div>
                                            <p class="subtitulo-medio">
                                                {% if investimento.data %}
                                                    {{investimento.data|date:"d/m/Y"}}
                                                {% else %}
                                                    Não informado
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-valores">
                                        <p class="titulo-azul">
                                            {% if investimento.valor %}
                                                R$ {{ investimento.valor|intcomma }}
                                            {% else %}
                                                Não informado
                                            {% endif %}
                                        </p>
                                        {% if investimento.ativo %}
                                        <div class="patrimonio-ativo">
                                            Ativo
                                        </div>
                                        {% else %}
                                        <div class="patrimonio-inativo">
                                            Inativo
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class='subtitulo-medio' style='margin-top:50px;'>NÃO EXISTEM PATRIMÔNIOS CADASTRADOS</p>
                {% endif %}
            </div>
        </main>
    </div>
    
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/geral.js' %}"></script>
{% endblock content %}